*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-header{
    position: relative;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(9, 9, 9);
    letter-spacing: 2px;
    z-index: 9;
    
}
.main-header ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-family: fantasy;
}
.main-header ul{
    padding-top: 20px;
    padding-right: 5px;
    word-spacing: 10px;
}

.main-header ul li a{
    text-decoration: none;
    color: rgb(249, 245, 245);
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;

}
.main-header ul li a:hover{
    background-color: rgb(38, 11, 161);
    padding: 5px 10px;
    border-radius: 20px;
}
.logo{
    height: 5%;
    width: 5%;
    border-radius: 50px;

}
.base{
    height: 10vh;
}
.block{
    height: 20vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.block .block1{
    position: relative;
    background-color: black;
}
.block .block1 a img{
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    border-radius: 100px;
    position: absolute;
    left: 50px;

}
.block a img:hover{
    box-shadow: 2px 2px 3px 3px white;
    border-radius: 100px;
}
.block .block1 a h1{
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    left: 70px;
    color: blue;
}
.case{
    position: relative;
    height: 70vh;
}
.case{
    background-image: url('images/explore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.case h2{
    font-size: 60px;
    color: white;
    position: absolute;
    top: 30vh;
    left: 19%;

}
.case h2:hover{
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000;
    animation: color 5s;   
}
@keyframes color{
    0%{color: cadetblue;}
    10%{color: rgb(248, 21, 176);}
    20%{color: rgb(9, 192, 9);}
    30%{color: rgb(184, 8, 8);}
    40%{color: rgb(34, 113, 116);}
    50%{color: rgb(192, 133, 7);}
}
footer .containerboot{
    background-color: rgb(3, 3, 49);
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}

.footer-col ul li{
    padding: 10px 0;
}
.footer-col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: #e91e64;
    border: none;
    color: white;
}
.col p{
    color: white;
}


@media (max-width: 600px){
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;

    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-col input{
        width: 100%;
    }
}