*{
    border: 0px;
    margin: 0px;
}
.main-header{
    position: relative;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(9, 9, 9);
    letter-spacing: 2px;
    z-index: 9;
    
}
.main-header ul li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    font-family: fantasy;
}
.main-header ul{
    padding-top: 20px;
    padding-right: 5px;
    word-spacing: 10px;
}

.main-header ul li a{
    text-decoration: none;
    color: rgb(249, 245, 245);
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;

}
.main-header ul li a:hover{
    background-color: rgb(38, 11, 161);
    padding: 5px 10px;
    border-radius: 20px;
}
.logo{
    height: 5%;
    width: 5%;
    border-radius: 50px;

}
.base{
    height: 10vh;
}
.block{
    background-color:coral;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.block .block1{
    position: relative;
    background-color: coral;
    box-shadow: 3px 3px 5px black;
}
.block .block1 a img{
    height: 50px;
    width: 50px;
    border: 3px solid blue;
    border-radius: 100px;
    position: absolute;
    left: 50px;

}
.block a img:hover{
    box-shadow: 2px 2px 3px 3px black;
    border-radius: 100px;
}
.block .block1 a h1{
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    right: 5px;
    color: black;
}
.parotta{
    padding-top:3% ;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.parotta .parotta1{
    height: 200px;
    width: 220px;
    border: 1px solid black;
    box-shadow: 5px 6px 18px 2px black;
    border-radius: 10px;
}
.parotta .parotta1 img{
    height: 125px;
    width : 220px;
    border-radius: 10px;
    transition: 0.5s ease-in;
} 
.parotta .parotta1 img:hover{ 
    box-shadow: 2px 2px 4px 4px black;
    border-radius: 60%;
      
}  
.parotta .parotta1 h3{
    font-size: 20px;
    color: black;
    text-align: center;
   
}
.parotta .parotta1 h6{
    font-size: 15px;
    padding-left: 10px;
    color:black;
}   
.parotta .parotta1 ul li{
    display: inline;
}
.parotta .parotta1 ul li .button2{
    height: 20px;
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.parotta .parotta1 ul li .fa{
    font-size: 15px;
    padding-top: 5px;
    color: black;

}
.parotta .parotta1 ul li .checked{
    color: rgb(42, 17, 187);
    
}